table,td {
    border:1px solid none;
    text-align: center;
    padding:0;
}
thead,th{
    text-align: right;
    border:1px solid ;
    
}
button{
    background-color: #766ad6bd;
}
.mid{
    font-size: 60px;
   
}
div.mid{
   position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
   margin-left: auto;
   margin-right: auto;
}
.myclass{
    display:inline-block;
    width: 80px;
    height: 95px;
    font-size: 60px;
    cursor: pointer;
}
.textview{
    
    width:346px;
    height:95px;
    font-size: 60px;
    text-align:right;
    margin-left:auto;
    margin-right: auto;
}
body{
    background: linear-gradient(to right,#ff2e2e,#766ad6bd);
    height: 100%;
}